@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 3% 16%;
    --foreground: 0 0% 98%;
    --card: 240 4% 19%;
    --card-foreground: 0 0% 98%;
    --popover: 240 4% 19%;
    --popover-foreground: 0 0% 98%;
    --primary: 182 100% 75%;
    --primary-foreground: 240 6% 10%;
    --secondary: 240 4% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 25%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 330 100% 71%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 50.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 25%;
    --input: 240 4% 25%;
    --ring: 182 100% 75%;
    --chart-1: 182 100% 75%;
    --chart-2: 330 100% 71%;
    --chart-3: 240 4% 60%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 240 3% 13%;
    --sidebar-foreground: 0 0% 80%;
    --sidebar-primary: 182 100% 75%;
    --sidebar-primary-foreground: 240 6% 10%;
    --sidebar-accent: 240 4% 19%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 4% 22%;
    --sidebar-ring: 182 100% 75%;
  }

  .dark {
    --background: 240 3% 16%;
    --foreground: 0 0% 98%;
    --card: 240 4% 19%;
    --card-foreground: 0 0% 98%;
    --popover: 240 4% 19%;
    --popover-foreground: 0 0% 98%;
    --primary: 182 100% 75%;
    --primary-foreground: 240 6% 10%;
    --secondary: 240 4% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 25%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 330 100% 71%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 50.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 25%;
    --input: 240 4% 25%;
    --ring: 182 100% 75%;
    --chart-1: 182 100% 75%;
    --chart-2: 330 100% 71%;
    --chart-3: 240 4% 60%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 240 3% 13%;
    --sidebar-foreground: 0 0% 80%;
    --sidebar-primary: 182 100% 75%;
    --sidebar-primary-foreground: 240 6% 10%;
    --sidebar-accent: 240 4% 19%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 4% 22%;
    --sidebar-ring: 182 100% 75%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body antialiased;
  }
}
